<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>540773153377-vmd5rtd7jnev99ratt9k86hel98n1bf7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540773153377-vmd5rtd7jnev99ratt9k86hel98n1bf7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>540773153377-mkpfi5iem8kuohjepeafpm6fkv16lc4m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAK0uwi4CHFuiw8MWHPCqOlE_rZNy63TGg</string>
	<key>GCM_SENDER_ID</key>
	<string>540773153377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ezpz.saudaghar</string>
	<key>PROJECT_ID</key>
	<string>saudaghar-3aa07</string>
	<key>STORAGE_BUCKET</key>
	<string>saudaghar-3aa07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540773153377:ios:0524ac1da65666e7ce8820</string>
	<key>DATABASE_URL</key>
	<string>https://saudaghar-3aa07.firebaseio.com</string>
</dict>
</plist>